@font-face{
    font-family: "InterBold";
    src: url("../fonts/static/Inter-Bold.ttf");
}

@font-face {
    font-family: "InterRegular";
    src: url("../fonts/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "InterSemiBold";
    src: url("../fonts/static/Inter-SemiBold.ttf");
}